.pokedex {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.pokedex ul {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 20px;
  font-size: 10px;
  overflow-y: scroll;
  height: 60vh;
}

.btn-modal {
  padding: 15px;
  background-color: #f1f3f2;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: black;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
  height: 120px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.btn-modal:hover {
  background-color: lightgray;
  img {
    width: 65%;
  }
}

.btn-modal img {
  aspect-ratio: 2/2;
}

.modal-container {
  display: flex;
  justify-content: center;
}

.overlay {
  background-color: black;
  bottom:0;
  left:0;
  right:0;
  top:0;
  position:fixed;
  opacity: 80%;
}

.modal-info {
  background-color:snow;
  border: indigo 2px solid;
  height: auto;
  width: 350px;
  position: fixed;
  padding: 1em;
  top: 18%;
  align-items: center;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}

.modal-container img {
  aspect-ratio: 2/2;
}

.modal-container span {
  font-size: small;
  font-weight: lighter;
}

.close-modal {
  cursor: pointer;
  opacity: 50%;
  transition: opacity .4s ease-in;
  -webkit-transition: opacity .4s ease-in;
  -moz-transition: opacity .4s ease-in;
  -ms-transition: opacity .4s ease-in;
  -o-transition: opacity .4s ease-in;
}

.close-modal:hover {
  opacity: 100%;
}

/* responsive related to screen width */

@media screen and (max-width: 1000px) {
  .pokedex ul {
    grid-template-columns: repeat(4, 170px);
    height: 75vh;
  }
}

@media screen and (max-width: 800px) {
  .pokedex ul {
    grid-template-columns: repeat(3, 170px);
  }
  .modal-info {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .pokedex ul {
    grid-template-columns: repeat(2, 150px);
  }
  .modal-info {
    width: 230px;
  }
}


/* responsive related to screen heigth*/
@media screen and (max-height: 430px) {
  .pokedex ul {
    height: 40vh;
  }
  .modal-info {
    width: 430px;
    flex-wrap: wrap;
    height: 240px;
    top: 12%;
    justify-content: center;
  }
  .modal-img {
    width: 150px;
  }
  .close-modal{
    position: absolute;
    right: 50%;
    top: 5%;
  }
}

@media screen and (min-height: 400px) {
  .pokedex ul {
    height: 100vh;
  }
}

@media screen and (min-height: 600px) {
  .pokedex ul {
    height: 120vh;
  }
}

@media screen and (min-height: 910px) {
  .pokedex ul {
    height: 125vh;
  }
}

@media screen and (min-height: 1070px) {
  .pokedex ul {
    height: 130vh;
  }
}

@media screen and (min-height: 1270px) {
  .pokedex ul {
    height: 140vh;
  }
}
