.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border: 10px solid #3a5f90;
  background-color: #f4f4f4;
}

header {
  background-color: #d13325;
  color: white;
  padding: 15px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 01);
  width: 100%;
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  width: 100%;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  margin: 0 0.3rem;
  border: none;
  background-color: #3a5f90;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #2e4b74;
}

.search-box {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.search-box input {
  padding: 10px 4px;
  font-size: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  width: 250px;
  height: 15px;
}

.search-box input:hover {
   border: 2px solid #3a5f90;
   outline: none;
}

button {
  font-family: 'Press Start 2P', sans-serif;
  padding: 4px 8px;
  font-size: 10px;
  background-color: #3a5f90;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2e4b74;
}

@media screen and (max-height: 430px) {
  .App header {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
    h1 {
      margin: 5px 0;
    }
    :link {
      padding: 5px 70px;
    }
  }
}

@media screen and (max-height: 370px) {
  .App header {
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3px;
    h1 {
      margin: 5px 0;
    }
    :link {
      padding: 5px 70px;
    }
  }
}


@media screen and (max-height: 550px) {
  .App header {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
    h1 {
      margin: 10px 0;
    }
    :link {
      padding: 7px 40px;
    }
  }
}
